
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Almarai:wght@300&family=Dancing+Script&family=Estonia&family=Grape+Nuts&family=Nunito:wght@300&family=Overpass:wght@100&family=Rubik+Iso&display=swap" 
rel="stylesheet">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    

    <nav>
        <!-- <img src="{% static 'img/logo.png' %}" alt=""> -->
        <div id="logo">
            <img src="img/leaf.png" alt="">
            <h6>Abies</h6>
        </div>
        <div id="links" style="display:flex">
            <a href="/">Accueil</a>
            <a href="/search" >Arbres</a>
           
            <a href="/contact" class="current">Contact</a>
        
            
            
        </div>
    </nav>

    
    

    <div style="max-width:1000px; margin:120px auto; padding: 10px;">
        <h2>Contactez nous</h2>
        <p>Pour plus d'informations, nous serons très heureux de répondre a vos questions.</p>
        
        <hr>

        <div class="person">
            <img src="img/mounderb.jpg" alt="">
            <p>Boutaleb Mounder<strong>(Etudiant en Bioinformatique)</strong> </p>
            
            <p><Strong>Université : </Strong>Mentouri constantine</p>
            <a href="">
                
                <i class="fa-brands fa-facebook"></i>
                Boutaleb Mounder
                <p>
                <i class="fab fa-google"></i>
                mounderboutaleb2@gmail.com
            </p>
                Contactez moi 
            </a>
            <div>
                <img src="img/youcef.jfif" alt="">
                <p>Mellit Youcef <strong>(Etudiant en Bioinformatique)</strong></p>
                
                <p><Strong>Université : </Strong>Mentouri constantine</p>
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                    Youcef Youcef Mellit
                    <p>
                    <i class="fab fa-google"></i>
                    youcefmellit94@gmail.com
                </p>
                    Contactez moi 
                </a>
            </div>    
            <div>
                <img src="img/fares.jpeg" alt="">
                <p>Chaaboub Fares <strong>(Etudiant en Bioinformatique)</strong></p>
                
                <p><Strong>Université : </Strong>Mentouri constantine</p>
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                    Fares Ch
                    <p>
                    <i class="fab fa-google"></i>
                    chaaboubfares@gmail.com
                </p>
                    Contactez moi 
                </a>
            </div>   
            <div>
                <img src="img/db.png" alt="">
                <p>Dr Djamilla benouchenne <strong>(PhD at High National School
                    Of Biotechnology)</strong></p>
                
                <p><Strong>High National School of Biotechnology, Toafik Khaznadar, Constantine  </Strong></p>
                <a href="">
                    
                    <p>
                    <i class="fab fa-google"></i>
                    d.benouchenne@ensbiothech.edu.dz
                </p>
                Contactez moi
                </a>
            </div>
            <div>
                   
                    <img src="img/db.png" alt="">
                <p>Mme Ines BELLIL <strong>( co-encadrante)</strong></p>
                
                <p><Strong>Université Frères Mentouri - Constantine 1  </Strong></p>
                <a href="">
                    
                    <p>
                    <i class="fab fa-google"></i>
                    ies.bellil@umc.edu.dz
                </p>
                    Contactez moi 
                </a>
            </div>
            </div>
        </div>
        
        
    </div>
</body>
</html>
