
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Almarai:wght@300&family=Dancing+Script&family=Estonia&family=Grape+Nuts&family=Nunito:wght@300&family=Overpass:wght@100&family=Rubik+Iso&display=swap" 
rel="stylesheet">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    

    <nav>
        <!-- <img src="{% static 'img/logo.png' %}" alt=""> -->
        <div id="logo">
            <img src="img/leaf.png" alt="">
            <h6>Abies</h6>
        </div>
        <div id="links" style="display:flex">
            <a href="/" class="current">Accueil</a>
            <a href="/search">Arbres</a>
           
            <a href="/contact">Contact</a>
             
        
           
            
        </div>
    </nav>

    
    <div id="fond">

        <div>
            <h1>Welcome</h1>
             <p>L'abies, également connu sous le nom d'épicéa, est un genre d'arbres conifères répandu dans les régions montagneuses de l'hémisphère nord. 
                Ces arbres se distinguent par leurs aiguilles persistantes et leurs cônes dressés, et ils jouent un rôle important dans l'écosystème en fournissant un habitat et une nourriture aux animaux sauvages.</p>
            <a href="/search">Start</a>
        </div>


    </div>



   
    <div style="max-width: 900px; margin: 150px auto 50px;  align-items: flex-start;" class="flexible">
        
        
        <div style="width: 400px; margin-left: 20px;">
            <h1 style="margin-top: 0; font-size: 30px;">Que savez vous de Abies ?</h1>
            

            <p><strong>Nom commun : </strong>Épicéa commun</p>
            <p><strong>Nom latin : </strong>Picea abies</p>
            <p><strong>Noms populaires : </strong>Sapin rouge, Sapin du Nord, Sapinette</p>
            <p><strong>Famille botanique : </strong>Pinacées</p>
            
                <video controls width="800" height="400">
                <source src="" type="video/webm">

        </video>
              
        </div>
    </div>

   


    <div style="max-width:900px; margin: 150px auto;">
        
        <div class="flexible">
            <div class="using">
                <img src="img/pills.png" alt="">
                <h3>Médecine traditionnelle</h3>
                <small>
                    <p>Antibactérien </p>
                    <p>Antifongique  </p>
                    <p>Antitussif </p>
                    <p>Anti-inflammatoire </p>
                    <p>Anti-ulcérogène </p>
                    <p>Hypotenseur  </p>
                   
                    </small>
            </div>
            <div class="using">
                <img src="img/forest.png" alt="">
                <h3>Bois</h3>
                <small>
                    <p>-Résineux léger et tendre.</p> 
                    <p>-Il est couramment utilisé dans la construction, la menuiserie et la fabrication de meubles en raison de sa résistance, de sa facilité de travail et de son aspect attrayant</p>
                    </small>
            </div>
            <div class="using">
                <img src="img/oil.png" alt="">
                <h3>Huiles</h3>
                <small>
                    <p> Est extraite des aiguilles et des branches d'arbres d'abies.</p> 
                    <p></p>Elle est appréciée pour son arôme frais et résineux, et est utilisée en aromathérapie pour ses propriétés apaisantes et revigorantes.</p>
                </small>
            </div>
            
        </div>
        
    </div>


    <div style="max-width: 900px; margin: 50px auto 150px;">

        <h2>Propriétés thérapeutique : </h2>
        <ul>
            <li><strong>Poumon - béchique, bactéricide pulmonaire</strong> : toux, bronchites</li>
            <li><strong>Troubles de la circulation veineuse</strong> : varices, jambes lourdes</li>
            <li><strong>Tonique général</strong> : fortifiant de l’organisme</li>
            <li><strong>Troubles digestifs</strong> : antispasmodique</li>
            <li><strong>Infection ORL</strong> : sinusite</li>
            <li><strong>Affections cutanées - antiseptique</strong> : plaies, brûlures</li>
            <li>Fébrifuge</li>
            <li>Traitement des névralgies</li>
        </ul>


        <h2>Dosage et posologie</h2>
        <p>
            Ce sont essentiellement les aiguilles, les jeunes pousses et l'écorce qui sont utilisées en phytothérapie.
        </p>
        <ul>
            <li><strong>Infusion</strong> : 1 cuillerée à café de jeunes aiguilles pour une tasse d'eau bouillante. Laisser infuser pendant 10 minutes. Filtrer. Prendre 3 à 4 tasses par jour.
                </li>

            <li>
                <strong>Bain</strong> : faire bouillir 150 à 200 g d'aiguilles d'épicéa dans un litre d'eau pendant 10 minutes. Filtrer, puis ajouter à l'eau du bain.
            </li>
        </ul>
   </div>

   <div id="Maps">
    <center><h1>Où trouve-t-on Abies ?</h1></center>
        
    <center>
        <img  src="img/Maps.png" alt="">
    </center>    
    
</div>



    
    <footer>
        <h3>Bio info copyright 2023</h3>
        
    </footer>
</body>
</html>